<body>
  <main>
    <div class="container">
      <h1>welcome to
        <i class="FONT AWESOME"></i>
        <strong>Bookers</strong>
         !!
        </h1>
      <p>
        In
        <i class="FONT AWESOME"></i>
        <strong>Bookers</strong>
        ,
      </p>
      <p>you can share and exchange your opinions , inpressions , and emotions</p>
      <p>about various books!</p>
      <div class="BOOTSTRAP">
        LoginとSignup
        </div>
    </div>
  </main>
</body>